.header {
    font-family: "Comic Sans MS";
    color: #ffffff;
    text-align: center;
    padding-top:1em;
    font-size:3em;
}

.text {
    font-family: "Comic Sans MS";
    color: #e62169;
    text-align: center;
    padding:2px;
}

.text-container {
    background-color:#eeeeee;
    padding:7px;
}

.image {
    padding: 10px;
}

html,
body {
    box-sizing: auto;
    height: 100%;
    width: 800px;
    margin: 0;
    background-color: #000000;
    background-image: url("pictures/fire.jpg");
}
